@import 'mains/_font.scss';
@import 'mains/carousel';
@import 'mains/botonesnav';
@import 'mains/_body.scss';
@import 'Banners/_bannerpress.scss';
@import 'Banners/_bannerpress2.scss';
@import 'mains/_reset.scss';
@import 'mains/_boxmain.scss';
@import '_imgprincipal.scss';

.meme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@import 'Banners/_bannersecundario.scss';
@import "cards/_cardcontainer.scss";
@import "cards/_carditem.scss";
@import "mains/_footer.scss";
@import "landingpatrones/_patroneslan.scss";
