@import "_font.scss";
@import '_carousel.scss';
@import"_botonesnav.scss";
@import '_body.scss';
@import '_bannerpress.scss';
@import '_bannerpress2.scss';
@import '_reset.scss';
@import '_boxmain.scss';
@import '_imgprincipal.scss';

.meme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@import '_bannersecundario.scss';
@import "_cardcontainer.scss";
@import "_carditem.scss";
@import "_footer.scss";